.policy {
  padding-top: 50px;

  h1,
  h3 {
    color: var(--primary-purple-night);
  }

  a {
    text-decoration: none;
    color: var(--primary-purple-night);
  }

  p {
    font-size: 18px;
  }

  strong {
    color: var(--primary-purple-night);
  }
}
