* {
  box-sizing: border-box;
}

@font-face {
  font-display: swap;
  font-family: Rostelecom Basis;
  font-style: normal;
  font-weight: 700;
  src: url('../../public/fonts/Rostelecom-Basis-Bold.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: Rostelecom Basis;
  font-style: normal;
  font-weight: 500;
  src: url('../../public/fonts/Rostelecom-Basis-Medium.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: Rostelecom Basis;
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/Rostelecom-Basis-Regular.woff') format('woff');
}

:root {
  --primary-purple-day: #7700ff;
  --primary-purple-night: #9466ff;
  --primary-orange-day: #ff4f12;
  --primary-orange-night: #ff5e2d;

  --secondary-green-day: #29cca3;
  --secondary-green-night: #16d9a6;
  --secondary-blue-day: #299aff;
  --secondary-blue-night: #40a2ff;

  --system-success-day: #00d359;
  --system-success-night: #26da72;
  --system-warning-day: #ffb608;
  --system-warning-night: #ffca00;
  --system-error-day: #ff0c0c;
  --system-error-night: #ff4747;
  --system-info-day: #0042ed;
  --system-info-night: #4075ff;

  --transparent-3: rgba(255, 255, 255, 0.03);
  --transparent-6: rgba(255, 255, 255, 0.06);
  --transparent-10: rgba(255, 255, 255, 0.1);
  --transparent-20: rgba(255, 255, 255, 0.2);
  --transparent-25: rgba(255, 255, 255, 0.25);
  --transparent-40: rgba(255, 255, 255, 0.4);
  --transparent-60: rgba(255, 255, 255, 0.6);
  --transparent-90: rgba(255, 255, 255, 0.9);
}

body {
  font-family: Rostelecom Basis;
  font-weight: 400;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #e8e9ea;
  background-color: #1d2533;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--primary-purple-night);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-purple-day);
}

.overflow-hidden {
  overflow-y: hidden;
  padding-right: 8px;
}

.container {
  max-width: 1335px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn-reset {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.section-site-title {
  margin: 0;
  margin-bottom: 40px;
  color: #e8e9ea;
  font-size: 42px;
  font-weight: 700;
}

.header__search-overlay,
.quick-view-modal-overlay,
.size-table-overlay,
.auth-overlay {
  background: #16181b;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  position: fixed;
  visibility: hidden;
  width: 100%;
  z-index: -1;
}

.header__search-overlay.overlay-active {
  opacity: 0.6;
  visibility: visible;
  z-index: 101;
}

.quick-view-modal-overlay.overlay-active {
  opacity: 0.6;
  visibility: visible;
  z-index: 2;
}

.size-table-overlay.overlay-active {
  opacity: 0.6;
  visibility: visible;
  z-index: 100;
}

.auth-overlay.overlay-active {
  opacity: 0.6;
  visibility: visible;
  z-index: 100;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.opacity-0 {
  opacity: 0;
}

.duration {
  transition-duration: 2s;
}

.sizes-table-btn {
  color: var(--secondary-green-night);
  font-size: 14px;
  text-decoration-line: underline;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  border-radius: 24px;
  background-color: var(--transparent-6);
}

.counter button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.counter button {
  position: relative;
  height: 22px;
  width: 24px;
}

.counter button::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  transition: background-color 0.2s ease-in-out;
}

.counter button:first-child:before {
  -webkit-mask: url(/img/minus.svg) no-repeat 50% 50%;
  mask: url(/img/minus.svg) no-repeat 50% 50%;
}

.counter button:last-child:before {
  -webkit-mask: url(/img/plus.svg) no-repeat 50% 50%;
  mask: url(/img/plus.svg) no-repeat 50% 50%;
}

.counter button:hover::before {
  transition: background-color 0.2s ease-in-out;
  background-color: var(--primary-purple-night);
}

.counter span {
  color: var(--transparent-90);
  font-size: 16px;
  font-weight: 400;
}

.not-empty {
  position: absolute;
  top: 9px;
  right: 2px;
  width: 8px;
  height: 8px;
  background-color: var(--system-error-day);
  border-radius: 50%;
}

.not-empty__mobile {
  top: 12px;
  right: 15px;
}

.not-empty__mobile-favorite {
  top: 12px;
  right: 25px;
}

.slick-slide {
  margin: 0 9px;
}

.quick-modal-dots li.slick-active button {
  background-image: url(/img/white-ellipse.svg) !important;
}

.swiper-slide-shadow-coverflow {
  background-image: none !important;
}

.swiper-slide-active .hero-slide-plus {
  display: block;
  position: absolute;
  cursor: pointer;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: var(--primary-purple-day);
  left: 125px;
  top: 45%;
  background-image: url('/img/plus-big.svg');
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}

.swiper-slide-active .hero-slide-plus::after {
  content: '';
  position: absolute;
  width: 45px;
  border-radius: 50%;
  height: 45px;
  border: 2px solid var(--primary-purple-day);
  left: -5px;
  top: -5px;
}

.swiper-slide-active .slide-popup {
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out;
}

@media (max-width: 1460px) {
  .swiper-slide-active .hero-slide-plus {
    left: 105px;
  }
}

@media (max-width: 990px) {
  .swiper-slide-active .hero-slide-plus {
    left: 75px;
  }
}

@media (max-width: 760px) {
  .swiper-slide-active .hero-slide-plus {
    top: 6%;
    left: 195px;
  }
}
